<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" />

  <title>Sua Intranet</title>
</head>
<body>
<!-- Cabeçalho fixo -->
<header class="header">
  <div class="logo">
    <h1 style="color: #000000; font-size: 14px; font-weight: bold;">Intranet CDA</h1>
  </div>
  <nav class="menu">
    <ul>
      <li><a href="#">Opção 1</a></li>
      <li><a href="#">Opção 2</a></li>
      <li><a href="#">Opção 3</a></li>
      <li><a href="#">Opção 4</a></li>
      <li><a href="#">Opção 5</a></li>
      <li><a href="#">Opção 6</a></li>
      <li><a href="#">Opção 7</a></li>
      <li><a href="#">Opção 8</a></li>
      <li><a href="#">Opção 9</a></li>
    </ul>
  </nav>
</header>

<!-- Conteúdo da página -->
<div class="content">
  <h1>Bem-vindo à Intranet</h1>
  <p>Este é o conteúdo da sua página.</p>
  <p>Este é o conteúdo da sua página.</p>
  <p>Este é o conteúdo da sua página.</p>
  <p>Este é o conteúdo da sua página.</p>
  <p>Este é o conteúdo da sua página.</p>
  <p>Este é o conteúdo da sua página.</p>
  <p>Este é o conteúdo da sua página.</p>
  <p>Este é o conteúdo da sua página.</p>


</div>

<!-- Rodapé -->
<footer class="footer">
  <p style="color: #ffffff; font-weight: bold;">Copyright &copy; 2023 Defesa Agropecuária</p>
</footer>
</body>
</html>